
 @font-face {
  font-family: "static";
  src: url("/assets/fonts/Inter-VariableFont_slnt,wght.ttf") format("truetype");
  font-style: normal;
}
body {
  font-family: "static", sans-serif;
  background-color: hsl(0, 0%, 8%);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.profile {
  display: grid;
  grid-template-areas: "profileCard" "attribution";
  text-align: center;
  max-width: clamp(20rem, 80%, 25rem);
  margin: clamp(0.5rem, 2vw, 1rem);
  
}
.profileCard {
  grid-area: profileCard;
  background-color: hsl(0, 0%, 12%);
  padding: clamp(0.75rem, 1vw, 1rem) clamp(1.5rem, 2vw, 2rem);
  margin: clamp(0.5rem, 2vw, 1rem) 0;
  border-radius: clamp(0.5rem, 1vw, 1rem);
}
.country {
  color: hsl(75, 94%, 57%);
  line-height: 1.2;
  padding-block-end: clamp(0.75rem, 2vw, 1.25rem);
  font-size: clamp(0.75rem, 2vw, 0.875rem);
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.list li {
  margin:clamp(0rem, -0.01rem + 0.03vw, 0.03125rem);
}

.button {
  text-decoration: none;
  display: block;
  margin: clamp(0.25rem, 1vw, 0.625rem) 0;
  background-color: hsl(0, 0%, 20%);
  padding: clamp(0.5rem, 1vw, 0.75rem);
  border-radius: clamp(0.5rem, 1vw, 0.625rem);
  text-decoration: none;
  color: white;
}

.button:hover {
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 20%);
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease, font-weight 0.3s ease;
}
.button:focus {
  outline: 2px solid hsl(75, 94%, 57%);
  outline-offset: 3px;
}

.avatar {
  border-radius: 50%;
  width: clamp(5rem, 15vw, 6.25rem);
  height: auto;
}

.attribution {
  font-size: clamp(0.6rem, 1.5vw, 0.7rem);
  text-align: center;
  grid-area: attribution;
}
.attribution a {
  color: hsl(75, 94%, 57%);
}
@media (prefers-reduced-motion: reduce) {
  .button {
    transition: none;
  }
}
@media  screen and (max-width: 375px) {
	html, body {
		padding: 0; } 

  }

